<h2 class="text-2xl font-bold mx-4 my-4"># My Programming Skills</h2>
<div class="w-full pt-2 pb-16">
    <div class="canvas ">
        <div class="laptop w-full text-center">
            <div class="screen m-auto left-0 right-0  "> 
                <div class="screen-ch relative">
                    <div class="title">
                        <span class="titlename"> <i class="fa-brands fa-apple "></i></span>
                       <span class="titlename"> {{data[i].id}}</span>
                      <ng-container *ngFor="let item of data; let a=index"> <span class="titlechildmenu" (click)='update(a,0)' *ngIf="a!=i"  >{{item.id}} </span></ng-container>
                      
                       <span  style="margin: 16vw;margin-top: 0vw;margin-bottom: 0vw;"></span> 
                       <span class="titlechildrightmenu"><mat-icon  class="rotate-90 w-fit  h-fit">battery_full</mat-icon></span>
                       <span class="titlechildrightmenu"><mat-icon class="w-fit h-fit ">signal_wifi_4_bar</mat-icon></span>
                       <span class="titlechildrightmenu"><mat-icon class="w-fit h-fit ">volume_up</mat-icon></span>
                       <span class="titlechildrightmenu">{{day[now.getDay()]}} </span>
                       <span class="titlechildrightmenu">{{months[now.getMonth()]}} {{now.getDate()}} </span>
                       <span class="titlechildrightmenu">{{(hour<10)?"0"+hour:hour}}:{{(now.getMinutes()<10)? "0"+now.getMinutes():now.getMinutes()}} {{time}}</span>
                    </div>
                    <div class="skill border-b-2 border-b-white">
                       <div class="skill-title-baar block">
                            <div class="tool-action inline-block ">
                                <span class="tool-1 m-auto">🔴</span>
                                <span class="tool-1  m-auto">🟡</span>
                                <span class="tool-1 m-auto">🟢</span>
                            </div>
                            <div class="inline-block m-auto title-toolbaar font-medium">
                              {{data[i].id}}
                            </div>
                       </div>
                      
                       <div class="skill-page-contatent">
                        <div class="skill-navigation">
                            <h2>
                                Tech for this field
                            </h2>  
                            
                            <mat-divider></mat-divider>
                            <label class="rounded cursor-pointer"  *ngFor="let item of data[i].techs; let a = index" (click)='update(a,1)' [ngClass]="{'text-white bg-orange-300': a==itech}">{{item.name}} </label> 
                        </div>
                        <div class="skill-content">
                            <h2 >What is {{data[i].techs[itech].name}}?</h2>
                             <p>{{data[i].techs[itech].whatis}}</p>
                            <h2>My Experties?</h2>
                            <p>{{data[i].techs[itech].experties}}</p>
                        </div>
                        <div class="skill-navigation-image">
                         
                        </div>
                       </div>

                    </div>
                    <div class=" bottom-0 absolute baar">
                        
                    </div>
                </div>
            </div>
           
            <div class="bottom "></div>
        </div>
    </div>
</div> 