<div class="bg-slate-800 w-full h-20 z-50 sticky top-0">
    <a routerLink="" class="logo " >
        <img src="./../../../assets/bytegenius-low-resolution-logo-white-on-transparent-background.png" alt="">
    </a>
    <h2 class="text-xl pt-3">{{title}}</h2>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
        <ul class="pt-5">
            <li [routerLink]="['/portfolio']" routerLinkActive="router-link-active" class="cursor-pointer" (click)='toggleNavbar()'><a>Portfolio</a></li>
            <li><a href="#">Studio</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>