<div class="container mx-auto py-8 transition duration-1000">
  <div class="flex flex-col md:flex-row items-center">
    <div class="md:w-1/4 ">
      <img src={{imgsrrc}} alt="School Image" class="rounded-2xl  h-48  object-cover mb-4">
    </div>
    <div class="md:w-2/3">
      <h2 class="text-2xl font-bold mb-2"># Education</h2>
      <div class="flex flex-col md:flex-row ">
        <div class="md:w-1/2 py-4 hover:bg-slate-900 hover:text-white rounded-md md:px-4"
          (mouseover)=" change('collage')">
          <h3 class="text-xl font-semibold">Diploma in Information Technology</h3>
          <p class="text-gray-700 hover:text-white ">Government Polytechnic Lucknow</p>
        </div>
        <div class="md:w-1/2 py-4 hover:bg-slate-900 hover:text-white rounded-md md:px-4"
          (mouseenter)=" change('school')">
          <h3 class="text-xl font-semibold">Intermediate</h3>
          <p class="text-gray-700 hover:text-white">Madhav Gyan Kendra I College Naini, Prayagraj</p>
        </div>
        <div class="md:w-1/2 py-4 hover:bg-slate-900 hover:text-white rounded-md md:px-4"
          (mouseenter)=" change('school')">
          <h3 class="text-xl font-semibold">High School</h3>
          <p class="text-gray-700 hover:text-white">Madhav Gyan Kendra Inter College Naini, Prayagraj</p>
        </div>
      </div>
    </div>
  </div>
</div>