<footer class="bg-gray-900 text-white py-4  z-0 bottom-0  w-full">
    <div class="container mx-auto flex flex-wrap justify-between">
      <div class="w-full sm:w-auto mb-4 sm:mb-0">
        <h4 class="text-xl font-bold">My Portfolio</h4>
        <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="w-full sm:w-auto">
        <h4 class="text-xl font-bold mb-2">Contact</h4>
        <ul>
          <li><a href="mailto:info@example.com">info@example.com</a></li>
          <li><a href="tel:+1234567890">+1234567890</a></li>
        </ul>
      </div>
      <div class="w-full sm:w-auto">
        <h4 class="text-xl font-bold mb-2">Services</h4>
        <ul>
          <li><a href="#">Service 1</a></li>
          <li><a href="#">Service 2</a></li>
          <li><a href="#">Service 3</a></li>
        </ul>
      </div>
      
    </div>
  </footer>
