<div class="w-full  h-full bg-fixed bg-no-repeat bg-[url('https://i.pinimg.com/originals/20/92/43/209243fa2681a21efb0ca8751b606680.jpg')]">
    <!-- <img src="https://i.pinimg.com/originals/20/92/43/209243fa2681a21efb0ca8751b606680.jpg" class="w-full h-full object-cover" alt="" srcset=""> -->
 
  <div class="h-[40rem] text-center text-5xl">
    <div class="h-7"></div>
<p class="text-white font-serif font-thin underline"># SELECT ONE</p>

  </div>
      <div class="flex space-x-44 mx-auto align-bottom   items-center w-fit">
        <button class="btn inline-block" type="button">
            <strong>Journey</strong>
            <div id="container-stars">
              <div id="stars"></div>
            </div>
          
            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
          <button class="btn  inline-block" type="button">
            <strong>Projects</strong>
            <div id="container-stars">
              <div id="stars"></div>
            </div>
          
            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
    </div>

    <h1>Journey</h1>
 
</div>