<div class="w-full p-4">
    <h2 class="text-3xl m-4"># Skills</h2>
    <div class="canvas">
        <div class="iphone">
            <div class="i-inner overflow-hidden">
                <div class="titlebaar block  px-5  text-left text-xs bg-slate-100 h-4 overflow-hidden">
                    <span class="inline-block font-semibold">{{convert(hour)}} : {{ convert(now.getMinutes())}} {{time}} </span><span
                        style="margin: 2.5rem; margin-top: 0; margin-bottom: 0;"></span>
                    <!-- <i class="fa-solid fa-signal-bars" ></i> -->
                    <span class="inline-block mx-1"><svg width="0.5rem" height="0.6rem" viewBox="0 0 24 24"
                            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                <title>ic_fluent_cellular_data_1_24_filled</title>
                                <desc>Created with Sketch.</desc>
                                <g id="🔍-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="ic_fluent_cellular_data_1_24_filled" fill="#212121" fill-rule="nonzero">
                                        <path
                                            d="M20,5 C20.5523,5 21,5.44734644 21,5.99916563 L21,19.0008344 C21,19.5526735 20.5523,20 20,20 C19.4477,20 19,19.5526735 19,19.0008344 L19,5.99916563 C19,5.44734644 19.4477,5 20,5 Z M16,8 C16.5523,8 17,8.44567197 17,8.99542565 L17,19.0045744 C17,19.5543479 16.5523,20 16,20 C15.4477,20 15,19.5543479 15,19.0045744 L15,8.99542565 C15,8.44567197 15.4477,8 16,8 Z M12,11 C12.5523,11 13,11.4477 13,12 L13,19 C13,19.5523 12.5523,20 12,20 C11.4477,20 11,19.5523 11,19 L11,12 C11,11.4477 11.4477,11 12,11 Z M8,14 C8.55228,14 9,14.4450832 9,14.9941551 L9,19.0058449 C9,19.5549168 8.55228,20 8,20 C7.44772,20 7,19.5549168 7,19.0058449 L7,14.9941551 C7,14.4450832 7.44772,14 8,14 Z M4,17 C4.55228,17 5,17.4403401 5,17.9835607 L5,19.0164393 C5,19.5596599 4.55228,20 4,20 C3.44772,20 3,19.5596599 3,19.0164393 L3,17.9835607 C3,17.4403401 3.44772,17 4,17 Z"
                                            id="🎨-Color"> </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>


                    <span class="inline-block m-auto "> <i class="fa-solid fa-wifi"></i></span>
                    <span class="titlechildrightmenu  inline-block"><mat-icon
                            style="font-size: 0.7rem; vertical-align: middle; width: 0.8rem;"
                            class=" rotate-90 w-fit  h-fit ">battery_full</mat-icon></span>

                </div>
                <div class="appbaar text-sm py-1 align-middle h-8 bg-slate-100 border-b-2">
                        <span style="vertical-align: middle;" class="mx-2"><i class="fa-solid fa-angle-left"></i></span>
                        <span class="align-middle m-auto font-sans" > Skills </span>
                </div>
                <div class="app w-full">
                    <ul>
                        <li *ngFor="let item of skills; let i=index" class="m-4 text-sm hover:underline" style="font-family:cursive;">
                          {{i+1}} ) {{item}}
                        </li>
                    </ul>
                </div>
                <div class="bottomsnack w-16 h-1 bg-black rounded-lg m-auto my-1">

                </div>
            </div>
        </div>
    </div>
</div>